<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label>ตัวตั้ง</ion-label>
      <ion-input type="nymber" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>ตัวบวก</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>ผลลัพธิ์</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-button (click)="calculate()">
      แสดงผลลัพธิ์
    </ion-button>
    
    <p><a target="_blank" rel="noopener" href="https://ionicframework.com/docs/"></a></p>
  </div>
</ion-content>
